<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>upix</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/sucessmain.css">
  <link rel="stylesheet" type="text/css" href="/css/pageonesucess.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/img/upixlogo.png" alt="Logo" class="logo">
      <div class="options">
        <a class="space-button" href="#" onclick="openSidebarlogin()">Login</a>
        <a class="space-button" href="/" >Inicio</a>
      </div>
    </div>
    <div class="pageone d-flex align-items-center justify-content-between">
      <div class="description-pageone p-0">
        <p class="font-desc m-0">Conta <span class="upix-letra">upix</span> criada com sucesso !</p>
      </div>
    </div>
    <div id="sidebar" class="sidebar sidebar-close">
      <div class="logo">
        <img src="/img/upixlogo.png" alt="Logo" class="logoform">
      </div>
      <form onsubmit="return validarSenha()">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="phone">Número de telefone:</label>
        <input type="tel" id="phone" name="phone" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirm-password">Confirmação de Senha:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
        <input type="submit" value="Cadastrar">
      </form>
    </div>
    <div id="sidebar-login" class="sidebarlogin sidebarlogin-close">
      <div class="logo">
        <img src="/img/upixlogo.png" alt="Logo" class="logo-login">
      </div>
      <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="login">
      </form>
    </div>
    <div class="footer">
      <div class="centralize-footer">
        <div class="logobaixo">
          <img src="/img/upixlogo.png" alt="Logo" class="logo-dois">
        </div>
        <div class="space-footer"></div>
        <div class="footer-options">
          <a class="space-button" href="#">Login</a>
          <a class="space-button" href="#" onclick="openSidebar()">Cadastro</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="centralize-footer">
      <div class="logobaixo">
        <img src="/img/upixlogo.png" alt="Logo" class="logo-dois">
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#phone').mask('(00) 00000-0000');
    });

    function validarSenha() {
      var senha = document.getElementById("password").value;
      var confirmacaoSenha = document.getElementById("confirm-password").value;

      if (senha !== confirmacaoSenha) {
        var alerta = document.createElement("div");
        alerta.classList.add("alert", "alert-danger", "fixed-top", "text-center");
        alerta.innerText = "Erro: As senhas não coincidem. Por favor, digite novamente.";

        document.body.insertBefore(alerta, document.body.firstChild);

        setTimeout(function() {
          alerta.remove();
        }, 4000); 

        return false;
      }

      return true; 
    }


    function openSidebar() {
      var sidebar = document.getElementById("sidebar");
      var sidebarLogin = document.getElementById("sidebar-login");
      if (sidebarLogin.classList.contains("sidebarlogin-open")) {
        sidebarLogin.classList.remove("sidebarlogin-open");
        sidebarLogin.classList.add("sidebarlogin-close");
      }
      sidebar.classList.toggle("sidebar-open");
      sidebar.classList.toggle("sidebar-close");
    }

    function openSidebarlogin() {
      var sidebar = document.getElementById("sidebar");
      var sidebarLogin = document.getElementById("sidebar-login");
      if (sidebar.classList.contains("sidebar-open")) {
        sidebar.classList.remove("sidebar-open");
        sidebar.classList.add("sidebar-close");
      }
      sidebarLogin.classList.toggle("sidebarlogin-open");
      sidebarLogin.classList.toggle("sidebarlogin-close");
    }
  </script>
</body>
</html>
